@import '../../styles/vars.scss';

.form-field {
  label {
    display: block;
    padding: $unit / 2 0;
    font-weight: 700;
    &:after {
      content: ':';
    }
  }
  input {
    padding: $unit / 2;
    margin-bottom: $unit;
    width: 100%;
  }
}